<form action="/create" method="POST">
<h2>Create Todo</h2>
<div class = "input-field">
    <input type="text" name = "title">
    <label>Todo List</label>
</div>

    <button type="submit" class="btn">Create</button>
</form>

