.todo {
    margin-bottom: 1rem;
}
.todo span.completed {
    text-decoration: line-through;
}

.todo label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background: white;
    padding: 1rem;
}

.todo i {
    z-index: 2;
}